.x-product-outside-box {
  padding-top: 4px;
  background-color: @ltk-theme-color;
  .x-inside-box {
    padding: 0 12px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: @gray-9;
    .x-category-selection {
      margin: 16px 0 12px 0;
      padding: 0 22px;
      font-size: 14px;
      .x-category-item {
        display: inline-block;
        margin: 20px 24px 16px 0;
        color: @ltk-text-color;
      }
      .x-item-selected {
        color: @ltk-theme-color;
        font-weight: bold;
      }
    }
    .x-list {
      background-color: @white;

    }
  }
}
